# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.o

# Build
cmake-build-*
build
CMakeFiles
CMakeCache.txt

# IDE
.idea

# Python
test/__pycache__/

# MACOS
.DS_Store
